
.btn {
    background-color: #8c4014;
    color: #f2d8c9;
    padding: 0.7em 16.6em;
    text-decoration: none;
    transition: .5s;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    color: #592b03;
}