.footer {
    background-color: #8c4014;
    color: #f2d8c9;
    padding: 3em;
    text-align: center;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list a {
    color: #f2d8c9;
    margin: 0 1em;
}

.social_list a:hover {
    color: #592b03;
}

.social_list svg {
    font-size: 1.5em;
    cursor: pointer;
}

.copy_right {
    margin-top: 2em;
}

.copy_right span {
    font-weight: bold;
    color: #f2d8c9;
}